$Regular: 400
$Medium: 500
$SemiBold: 600
$Bold: 700
$Black: 900

$backgroundColor: #101111
$textColor:#FFFFFF


$Montserrat: ('Regular', 400),('Medium', 500),('SemiBold', 600), ('Bold', 700), ('ExtraBold', 800)

@each $name, $weight in $Montserrat 
    @font-face 
        font-family: 'Montserrat Alternates'
        src: url("@/assets/fonts/Montserrat/MontserratAlternates-#{$name}.ttf")
        font-weight: $weight
    


$Poppins: ('Regular', 400)
            
@each $name, $weight in $Poppins
    @font-face 
        font-family: 'Poppins'
        src: url("@/assets/fonts/Poppins/Poppins-#{$name}.ttf")
        font-weight: $weight
    
$Roboto: ('Bold', 700)
            
@each $name, $weight in $Roboto
    @font-face 
        font-family: 'Roboto Mono'
        src: url("@/assets/fonts/Roboto/RobotoMono-#{$name}.ttf")
        font-weight: $weight

$DelaGothicOne: ('Regular', 400)
            
@each $name, $weight in $DelaGothicOne
    @font-face 
        font-family: 'Dela Gothic One'
        src: url("@/assets/fonts/DelaGothicOne/DelaGothicOne-#{$name}.ttf")
        font-weight: $weight