@include media(1900px)
    .header 
        &__center
            &-block
                &__title
                    font-size: 160px
                &__subtitle
                    font-size: 50px
    
@include media(1620px)
    .header 
        &__center
            &-block
                &__title
                    font-size: 140px
                    line-height: 230px
                &__subtitle
                    font-size: 40px
    
@include media(1430px)
    .borders-img 
        width: 240px
        height: 240px
    .section-title 
        font-size: 67px
        line-height: 90px
    .section-subtitle 
        font-size: 34px
        line-height: 50px
    .header 
        padding-top: 20px
        &__center
            &-block
                &__title
                    font-size: 120px
                    line-height: 210px
                &__subtitle
                    font-size: 30px
                &-right, &-left
                    width: 98px
                    height: 98px
    .about
        padding-bottom: 180px

    .about .borders-top, .apps__list .borders-top, .contacts__block-wrapper .borders-top
        right: -155px !important
        top: -235px !important
    .about .borders-bottom, .apps__list .borders-bottom, .contacts__block-wrapper .borders-bottom
        left: -155px !important
        bottom: -235px !important
    .illustr
        &__block
            min-height: 1400px
    .footer 
        margin-top: 220px !important
    
    
@include media(1200px)
    .header
        &__navbar 
            max-width: 445px
            &-link 
                font-size: 18px
                line-height: 24px
        &__center
            &-block
                &__title 
                    font-size: 100px
                    line-height: 160px
    .about
        &__block
            flex-direction: column-reverse
            align-items: center
            &-left
                width: 100%
                &__title 
                    text-align: center
    .apps
        &__item
            flex-direction: column !important
            &-btn
                &__wrapper
                    display: flex
                    justify-content: end
    .illustr
        &__block
            display: flex
            flex-direction: column
            align-items: center
            gap: 20px
            &-item 
                position: static !important

@include media(1024px)
    .borders-img 
        width: 170px
        height: 170px
    .header
        &__center
            &-block
                &__title 
                    font-size: 80px
                    font-weight: 400
                    line-height: 52px
                    letter-spacing: 0px
                &__subtitle
                    font-size: 25px
                &-right, &-left 
                    width: 68px
                    height: 68px
                &-right
                    right: -78px
                    top: -30px
                &-left 
                    left: -78px
                    bottom: 10px
    .about .borders-top, .apps__list .borders-top, .contacts__block-wrapper .borders-top
        right: -105px !important
        top: -210px !important
    .about .borders-bottom, .apps__list .borders-bottom, .contacts__block-wrapper .borders-bottom
        left: -105px !important
        bottom: -210px !important
        display: none
    .apps__list
        margin-top: 30px
    .illustr__title 
        margin-bottom: 30px
    .about 
        padding-bottom: 130px
    .illustr__block, .about__title, .contacts__title
        margin-bottom: 130px
    .footer 
        margin-top: 130px
        
    .contacts 
        &__block
            &-item 
                &__title 
                    font-size: 24px
                &__value 
                    font-size: 24px

@include media(768px)
    .section-title 
        font-size: 48px
        line-height: 62px
        & img 
            width: 48px
            height: 48px
    .section-subtitle
        font-size: 28px
        line-height: 37px
    .header 
        padding-top: 13px
        &__center
            &-block
                &__title 
                    font-size: 66px
                    line-height: 52px
    .apps
        &__item 
            gap: 75px
            padding: 35px 35px !important
            &-img 
                max-width: 100% !important
                min-width: auto !important
    
@include media(670px)
    .header
        &__center
            &-block
                &__title 
                    font-size: 56px
                    line-height: 52px
                &__subtitle 
                    font-size: 21px
    .about
        &__block
            &-right
                &__img
                    &-wrapper 
                        max-width: 350px
    .illustr
        &__block 
            min-height: auto
            &-item 
                min-width: auto
                max-width: 100%

@include media(576px)
    .section-title 
        font-size: 36px
        line-height: 52px
        & img 
            width: 32.72px
            height: 32.72px
    .header
        height: 285px
        &__img-background__block
            height: 285px
        &__navbar
            display: none
        &__center
            &-block
                &__title 
                    font-size: 36px
                &__subtitle 
                    font-size: 12px
                    line-height: 15px
                &-right, &-left 
                    width: 44px
                    height: 44px
                &-right
                    right: -44px
                    top: -10px
                &-left 
                    left: -44px
                    bottom: -10px
        &__marquee
            &-wrapper 
                display: none !important
    .about 
        &__title 
            margin-bottom: 55px
        &__block
            &-right
                &__img-wrapper 
                    max-width: 206px
            &-left 
                gap: 30px
                &__title
                    font-size: 20px
                    line-height: 60px
            &-info 
                &__card 
                    padding: 15px 20px
                    font-size: 12px
                    line-height: 25.89px
            &-skills
                &__list 
                    padding: 10px 20px
        &__icon
            &-star 
                left: -18px
                top: -14px
                width: 66px !important
                height: 66px !important
    .works
        &__title 
            margin-bottom: 30px
    .apps 
        &__item
            gap: 35px
            &-text 
                font-size: 18px
                line-height: 24px
    .contacts
        &__title
            margin-bottom: 30px
    .footer 
        padding: 30px 0px !important
        margin-top: 70px !important
        &__menu
            gap: 15px
            &-link 
                font-size: 14px !important